<template>
    <div>
        <div class="row justify-content-md-center my-5">
            <div class="col-12 card">
                <div class="card-body">
                    <h3 class="text-center">Search Form</h3>
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <label>Name</label>
                                <input type="text" class="form-control" v-model="searches.name" @change="searchRecords()">
                            </div>
                            <div class="col">
                                <label>Price Range from - to: {{searches.price_from}} - {{searches.price_to}}</label>
                                <input type="range" class="form-control-range" min="200000" max="1000000" v-model="searches.price_from" @change="searchRecords()">
                                <input type="range" class="form-control-range" min="200000" max="1000000" v-model="searches.price_to" @change="searchRecords()">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-2">
                                <label>BedRooms</label>
                                <select class="form-control" v-model="searches.bedrooms" @change="searchRecords()">
                                    <option :value="null"></option>
                                    <option v-for="n in 5" :value="n">{{n}}</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <label>bathrooms</label>
                                <select class="form-control" v-model="searches.bathrooms" @change="searchRecords()">
                                    <option :value="null"></option>
                                    <option v-for="n in 5" :value="n">{{n}}</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <label>storeys</label>
                                <select class="form-control" v-model="searches.storeys" @change="searchRecords()">
                                    <option :value="null"></option>
                                    <option v-for="n in 5" :value="n">{{n}}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12">
                <h3 class="text-center">Records</h3>
                <table class="table">
                    <thead>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Beds</th>
                        <th>bathrooms</th>
                        <th>storeys</th>
                        <th>storeys</th>
                    </thead>
                    <tbody>
                        <tr v-for="record in records">
                            <td v-text="record.name"></td>
                            <td v-text="record.price"></td>
                            <td v-text="record.bedrooms"></td>
                            <td v-text="record.bathrooms"></td>
                            <td v-text="record.storeys"></td>
                            <td v-text="record.storeys"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        components: {

        },
        props: [

        ],
        data(){
            return {
                records: [],
                searches: {
                    name: null,
                    price_from: 200000,
                    price_to: 1000000,
                    bedrooms: null,
                    bathrooms: null,
                    storeys: null,
                    garages: null
                }
            }
        },
        computed: {
            searchRequest: function () {
                return this.searches;
            }
        },
        methods: {
            searchRecords() {
                axios.post('/search/records' , this.searchRequest).then((response) => {
                    this.records = response.data;
                });
            }
        },
        created: function () {
            this.searchRecords();
        }
    }

</script>